<!DOCTYPE html>
<!--Group 5-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>readIT - Home</title>
    </head>
    <body style="background-image: url('https://res.cloudinary.com/dvuojuprj/image/upload/v1691287640/high_quality_syxhmq.png'); background-size: cover;">
        <div class="header text-center">
            <div class="jumbotron jumbotron-fluid">
                <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691289905/readIT_logo_small_eucxmg.png" width="50%">
                <p class="display-6">Your source of affordable digital IT magazines</p>
            </div>
            <ul class="nav nav-underline justify-content-center mt-5">
                <li class="nav-item">
                  <a class="nav-link" href="/"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/magazines"><strong>Magazines</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subscribe"><strong>Subscribe</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><strong>Contact Us</strong></a>
                  </li>
            </ul>
        </div>
        <div class="container">
            <div class="d-flex justify-content-evenly">
                <div class="card m-3" style="width: 30rem;">
                    <div class="card-header">
                        <h4>FAQs</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <p class="m-1"><strong>Q: How much is the subscription fee?</strong></p>
                            <p class="m-1">A: When you subscribe with readIT, you only have to pay <i>$8.99/month</i> -- a $5.00 discount from the original price.</p>
                        </div>
                        <div class="mb-2">
                            <p class="m-1"><strong>Q: Can I subscribe to 2 magazines with readIT?</strong></p>
                            <p class="m-1">A: At the moment, we can only offer discounted subscriptions to one magazine per person. We hope to provide more in the future.</p>
                        </div>
                        <div>
                            <p class="m-1"><strong>Q: What payment options do you accept?</strong></p>
                            <p class="m-1">A: You can pay with your card over the phone or cheque by mail.</p>
                        </div>
                    </div>
                </div>
                <div class="card m-3" style="width: 30rem;">
                    <div class="card-header">
                        <h4>Contact Us</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <p class="m-1"><strong>For more information:</strong></p>
                            <p class="m-1"><i class="fa-solid fa-at"></i>&nbsp;E-mail: info@readit.com</p>
                            <p class="m-1"><i class="fa-solid fa-square-phone"></i>&nbsp;Phone: (+1) 647-123-4567</p>
                        </div>
                        <div class="mb-2">
                            <p class="m-1"><strong>For subscriptions:</strong></p>
                            <p class="m-1"><i class="fa-solid fa-at"></i>&nbsp;E-mail: subscribe@readit.com</p>
                            <p class="m-1"><i class="fa-solid fa-square-phone"></i>&nbsp;Phone: (+1) 647-234-5678</p>
                        </div>
                        <div>
                            <p class="m-1"><strong>For payments:</strong></p>
                            <p class="m-1"><i class="fa-solid fa-at"></i>&nbsp;E-mail: payments@readit.com</p>
                            <p class="m-1"><i class="fa-solid fa-square-phone"></i>&nbsp;Phone: (+1) 647-345-6789</p>
                            <p class="m-1"><i class="fa-solid fa-house"></i>&nbsp;Mailing Address: 265 Yorkland Blvd., Toronto, ON M2J 1S5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>