<!DOCTYPE html>
<!--Group 5-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>readIT - Home</title>
    </head>
    <body style="background-image: url('https://res.cloudinary.com/dvuojuprj/image/upload/v1691287640/high_quality_syxhmq.png'); background-size: cover;">
        <div class="header text-center">
            <div class="jumbotron jumbotron-fluid">
                <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691289905/readIT_logo_small_eucxmg.png" width="50%">
                <p class="display-6">Your source of affordable digital IT magazines</p>
            </div>
            <ul class="nav nav-underline justify-content-center mt-5">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/magazines"><strong>Magazines</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subscribe"><strong>Subscribe</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact"><strong>Contact Us</strong></a>
                </li>
            </ul>
        </div>
        <div class="container">
          <div class="d-flex justify-content-center">
              <div class="text-end p-3 mt-5 d-flex align-items-center" style="width: 40%; background-color: rgb(37,74,222,0.2)">
                <div class="box p-5" style="background-color: rgb(255,255,255,0.8)">
                  <h4>magazines <small class="text-body-secondary"><i>for the tech enthusiasts</i></small></h4>
                  <p><strong>readIT</strong> offers discounted subscription fee to some of the best digital magazines in the IT world. Stay up-to-date for only <i><u>$8.99/month</u></i>!</p>
                  <p class="m-0"><i>Browse our catalog,</i></p>
                  <p class="m-0"><i>pick your fave,</i></p>
                  <p class="m-0"><i>provide an email address,</i></p>
                  <p class="m-0"><i>and we will take care of the rest.</i></p>
                </div>
              </div>
              <div class="p-3 mt-5" style="width: 33%; background-color: rgb(37,74,222,0.2)">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active mx-auto">
                        <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691294141/AIMag_l8rfws.jpg" class="d-block w-60" alt="AI" height="550">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691294140/InsurTechMag_i9nuat.jpg" class="d-block w-60 " alt="InsurTech" height="550">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691295795/CyberMag_irgplk.jpg" class="d-block w-60" alt="Cyber" height="550">
                      </div>
                      <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691294140/FintechMag_jxxmev.jpg" class="d-block w-60" alt="FinTech" height="550">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
              </div>
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>