<!DOCTYPE html>
<!--Group 5-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title>readIT - Unsubscribed</title>
    </head>
    <body style="background-image: url('https://res.cloudinary.com/dvuojuprj/image/upload/v1691287640/high_quality_syxhmq.png'); background-size: cover;">
        <div class="header text-center">
            <div class="jumbotron jumbotron-fluid">
                <img src="https://res.cloudinary.com/dvuojuprj/image/upload/v1691289905/readIT_logo_small_eucxmg.png">
                <p class="lead">Your source of affordable IT magazines</p>
            </div>
            <ul class="nav nav-underline justify-content-center mt-5">
                <li class="nav-item">
                  <a class="nav-link" href="/"><strong>Home</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/magazines"><strong>Magazines</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/subscribe"><strong>Subscribe</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><strong>Contact Us</strong></a>
                  </li>
            </ul>
        </div>
        <div class="container text-center mt-3">
            <div  class="p-3 mx-auto" style="background-color: rgb(37,74,222,0.2); width: 50%">
                <h2>You have successfully unsubscribed!</h2>
                <p>We are sad to see you go and we hope to see you again.</p>
            </div>
        </div>
    </body>
</html>